.cardPricing {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    border: 0.5px solid var(--stroke-black, rgba(0, 0, 0, 0.12));
    background: var(--white, #FFF);
    /* Tw/md */
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.10), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
    position: relative;
}

.tier {
    color: var(--neutral-800, #262626);    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.invertedTierMsg {
    display: flex;
transform: rotate(42.009deg);
padding: 6px 24px;
justify-content: center;
align-items: center;
position: absolute;
right: -7.869px;
top: 45.267px;
background: var(--neutral-800, #262626);
color: #fff;
}

.cardTierMessage {
    color: var(--neutral-500, #737373);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}



.offeringText {
    position: relative;
    bottom: 8px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.offeringDiv {
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    
}