* {
  margin: 0;
  padding: 0;
}
body {
  /* margin: 0; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 80px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: #ffffff;
}

.container {
  width: 100%;
  padding: 100px 0;
}

a {
  text-decoration: none;
}